html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
body {
    margin:0;
}
#container {
    display: grid;
    height:100dvh;
    grid-template-columns:3fr 2fr;
    grid-template-rows: 1fr 4fr;
    min-width: 780px;
}
.centering {
    display: flex;
    justify-content: center;
}
.centering > div {
    width:55%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#hero {
    background-image: url("/images/hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero {
    /* grid-area: */
    grid-row-start:1 ;
    grid-column-start:2 ;
    grid-row-end:3 ;
}
/* font related stuff */
h1 {
    font-weight: 600;
    font-size:300%;
    margin:0;
    letter-spacing: 1.6rem;
}
.pink-text {
    color:hsl(0, 36%, 70%);
}
h1 > span {
    font-weight: 300;  
}
p {
    font-weight: 400;
    line-height: 1.6;
}
/* form related stuff */
form  {
    display: flex;
    justify-content: center;
}
form > button {
    /* for broswer that dont support gradient */
    background-color: pink;
    background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 15%;
    border-radius: 20px;
    position: relative;
    border:none;
    min-width:60px;
    right: 20px;
    padding:10px 10px;
}
::placeholder {
    color:hsl(0, 36%, 70%);
    padding:0 0 0 20px;
}
form > input {
    width:80%;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 20px 0 0 20px;
    position: relative;
    left:20px;
}
@media (min-width:100px) and (max-width:620px)
{
    #container {
        grid-template-columns: 1fr;
        grid-template-rows:1fr 3fr 4fr ;
        min-width: unset;
    }
    #hero {
        background-image: url("/images/hero-mobile.jpg");
        grid-area:unset;
    }
    .centering {
        justify-content: flex-start;
    }
    .centeringForContent {
        justify-content: center;
    }
    /* centering the content */
    .centering > div {
        width:95%;
    }
    /* font related stuff */
    #heading {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 220%;
        text-align: center;
        letter-spacing: 0.5rem;
    }
    p {
        text-align: center;
    }

    form > input {
        width:80%;
        border-right: none;
        border-radius: 20px 0 0 20px;
        position: relative;
        left:20px;
        /* padding:10px 10px; */
    }
    form > button {
        border:none;
        width: 20%;
        border-radius: 20px;
        position: relative;
        right: 20px;
        padding:10px 10px;
    }
}
