html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
body {
    margin:0;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
#container {
    display: grid;
    height:100dvh;
    grid-template-columns:3fr 2fr;
    grid-template-rows: 1fr 4fr;
    min-width: 780px;
    position: relative;
}
/* background for desktop */
#background-desktop {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width:60%;
    height: 100dvh;
    z-index: -1;
}
.centering {
    display: flex;
    justify-content: center;
}
.centering > div {
    width:55%;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
}
.centeringForContent {
    min-width: 600px;
}
#hero {
    background-image: url("/images/hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 600px;
}
/* Logo related */
.forLogo {
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end: 2;
}
#logo {
    align-self: center;
    background-image: url('/images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height:20%;
}
#hero {
    /* grid-area: */
    grid-row-start:1 ;
    grid-column-start:2 ;
    grid-row-end:3 ;
}
/* font related stuff */
h1 {
    font-weight: 600;
    font-size:5vw;
    margin:0;
    letter-spacing: 1.6rem;
}
.pink-text {
    color:hsl(0, 36%, 70%);
}
h1 > span {
    font-weight: 300;  
}
p {
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.6;
}
/* Content */
#content {
    justify-content: space-around;
}
#content > div {
    height:60dvh;
}
/* form related stuff */
form  {
    display: flex;
    justify-content: center;
    /* height:7dvh; */
    position:relative;
}
form > input {
    width:100%;
    background-color: inherit;
}

form > * {
    padding:1.5vw 1.5vw;
    font-size: 1.2vw;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 5dvh;
} 
input::placeholder {
    color:hsl(0, 36%, 70%);
}
input[type=email] {
    outline-style: none;
}
form > button {
    width:8.2dvw;
    padding:unset;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: absolute;
    height: 100%;
    border:none;
    display: flex;
    justify-content: center;
    right:0;
    box-shadow:1px 25px 50px 1px hsl(0, 76%, 85%);
}
button:hover {
    cursor: pointer;
    background: hsl(0, 93%, 90%);
}
/* icon in the button */
button > div {
    background-image:url("../images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:2vw;
    aspect-ratio: 1/1;
    align-self: center;
}
/* error stuff */
#error {
    width:clamp(1rem , 2vw, 3rem);
    background: url("../images/icon-error.svg");
    position: absolute;
    right: 8.5vw;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    padding:unset;
    background-size: contain;
    align-self: center;
    display: none;
}
label {
    font-size: clamp(1rem, 1vw, 2rem);
    color:hsl(0, 93%, 68%);
}
input:invalid {
    border: 3px solid hsl(0, 93%, 68%);
}
#labelDiv {
    margin-top:10px;
    margin-left:1.5vw;
    display: none;
}
/* mobile phones */
@media (min-width:100px) and (max-width:1024px)
{
    #container {
        grid-template-columns: 1fr;
        grid-template-rows:1fr 4fr 6fr ;
        min-width: unset;

    }
    #background-desktop {
        display: none;
    }
    .forLogo{
        grid-area: unset;
        justify-content: flex-start;
        padding-left: 10vw;
    }
    /* content related styling */
    .centering > div{
        width:80%;
    }
    #content > div {
        height: unset;
    }
    #hero {
        background-image: url("../images/hero-mobile.jpg");
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:2 ;
        grid-row-end:3;
        min-width: unset;
    }
    #logo {
        padding: 0 8vw;
    }
    .centeringForContent {
        justify-content: center;
        min-width: unset;
    }
    /* font related stuff */
    #heading {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 11vw;
        text-align: center;
        letter-spacing: 0.5rem;
    }
    p {
        text-align: center;
        font-size: 3.7vw;
    }
    /* form related stuff */
    input  {
        height: 5dvh;
        font-size: 1.5vh;
        padding:1.5vw 3vw;
    }
    form > button  {
        width:18vw;
    }
    button > div {
        width:3vw;
        height: 3vh;
    }
    /* Error stuff mobile */
    label {
        font-size: clamp(0.5rem, 3.5vw, 3rem);
    }
    .errorInput {
        border: 1px solid hsl(0, 93%, 68%);
    }
}
