html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
body {
    margin:0;
}
#container {
    display: grid;
    height:100dvh;
    grid-template-columns:3fr 2fr;
    grid-template-rows: 1fr 4fr;
    min-width: 780px;
    position: relative;
}
/* background for desktop */
#background-desktop {
    background-image: url("/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width:60%;
    height: 100dvh;
    z-index: -1;
}
.centering {
    display: flex;
    justify-content: center;
}
.centering > div {
    width:55%;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
}
.centeringForContent {
    min-width: 600px;
}
#hero {
    background-image: url("/images/hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 600px;
}
/* Logo related */
.forLogo {
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end: 2;
}
#logo {
    align-self: center;
}
#hero {
    /* grid-area: */
    grid-row-start:1 ;
    grid-column-start:2 ;
    grid-row-end:3 ;
}
/* font related stuff */
h1 {
    font-weight: 600;
    font-size:5vw;
    margin:0;
    letter-spacing: 1.6rem;
}
.pink-text {
    color:hsl(0, 36%, 70%);
}
h1 > span {
    font-weight: 300;  
}
p {
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.6;
}
/* Content */
#content {
    justify-content: space-around;
}
#content > div {
    height:60dvh;
}
/* form related stuff */
form  {
    display: flex;
    justify-content: center;
    /* height:7dvh; */
    position:relative;
}
form > input {
    width:100%;
}

form > * {
    padding:1.5vw 1.5vw;
    font-size: 1.2vw;
    border: 1px solid pink;
    border-radius: 5dvh;
} 
form > button {
    width:25%;
    padding:unset;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 75%));
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    right:0;
}
/* icon in the button */
button > div {
    background-image:url("/images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:2vw;
    aspect-ratio: 1/1;
    align-self: center;
}
/* mobile phones */
@media (min-width:100px) and (max-width:1024px)
{
    #container {
        grid-template-columns: 1fr;
        grid-template-rows:1fr 4fr 6fr ;
        min-width: unset;
        background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }
    #background-desktop {
        display: none;
    }
    .forLogo{
        grid-area: unset;
    }
    #content > div {
        height: unset;
    }
    #hero {
        background-image: url("/images/hero-mobile.jpg");
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:2 ;
        grid-row-end:3;
        min-width: unset;
    }

    .centering {
        justify-content: flex-start;
    }
    #logo {
        padding: 0 8vw;
    }
    .centeringForContent {
        justify-content: center;
        min-width: unset;
    }
    /* font related stuff */
    #heading {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 10vw;
        text-align: center;
        letter-spacing: 0.5rem;
    }
    p {
        text-align: center;
        font-size: 2.5vw;
    }
    /* form related stuff */
    input  {
        height: 2.5dvh;
        font-size: 1.5vh;
        padding:1.5vw 3vw;
    }
    form > button  {
        width:20%;
    }
    button > div {
        width:3vw;
    }
}
